#auto-jump,
#auto-enter {
  width: 100%;
  font-size: 120%;
}
#auto-jump > div,
#auto-enter > div {
  width: 960px;
  margin: auto;
  padding-bottom: 2px;
}
#auto-jump {
  background-color: #141414;
  color: #EEEBEB;
}
#auto-jump.auto-jump-gate,
#auto-enter {
  background-color: white;
  color: black;
}
